html {
	font-family: Arial;
	display: inline-block;
	margin: 0px auto;
	text-align: center;
}

h2 {
	font-size: 3.0rem;
}

p {
	font-size: 3.0rem;
	margin: 10px;
}

.units {
	font-size: 1.2rem;
}

.dht-labels {
	font-size: 1.5rem;
	vertical-align: middle;
	padding-bottom: 15px;
}

.button {
	padding: 10px 20px;
	font-size: 24px;
	text-align: center;
	outline: none;
	color: #fff;
	background-color: #51199b;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button:active {
	transform: translateY(2px);
}